/** 全局样式 */

/** 导入 Tailwind CSS */
@import "tailwindcss";

/** 自定义主题变量 */
@theme {
  --grid-template-columns-13: repeat(13, minmax(0, 1fr));

  --color-blue-400: #2589fe;
  --color-blue-500: #0070f3;
  --color-blue-600: #2f6feb;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

/**
 * Tailwind CSS v4 中默认的边框颜色已更改为 currentcolor，
 * 所以我们添加了这些兼容性样式，以确保所有内容的外观仍然和 Tailwind CSS v3 一样。
 * 如果以后想移除这些样式，我们需要为任何依赖这些默认值的元素显式添加边框颜色的工具类。
 */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
